
@{
    ViewBag.Title = "minimum";
}

Sorry but in order to make an online order you must spend atleast £5.00
<br />

<button type="submit" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Return to your cart</button>

