
@{
    ViewBag.Title = "outofstock";
}

<h2>Sorry this item is out of stock please select another</h2>

<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Return to products page</button>


