
@{
    ViewBag.Title = "ToomanyItems";
}

Sorry you can only have up to 10 items in a order, please delete some from your cart
<br />

<button type="submit" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Return to your cart</button>
