
@{
    ViewBag.Title = "CourierCreate";
}

<h2>Create Courier Order</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create Courier Order" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to And Choose a different Delivery Method", "Create")
</div>