
@{
    ViewBag.Title = "Refundnotification";
}

<h2>Refund Confirmation</h2>

Your order has been cancelled and will get your money back within 3 working days
<br />
@Html.ActionLink("Back to your Orders", "MyOrders")

